.genre-list-container {
    max-height: 100%;
    width: 300px
    }
    .genre-list-item {
      padding: 14px 10px;
      font-size: 18px;
      letter-spacing: 0.2px;
      line-height: 1.4;
      color: rgb(141, 141, 141);
      list-style: none;
      cursor: pointer;
      transition: background-color 0.5s ease;
    }
    .genre-list-item:hover {
      background-color: #363636;
      
    }
    .genre-list-header, .genre-clear {
      padding-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 24px;
      letter-spacing: 0.2px;
      line-height: 1.4;
      color: rgb(141, 141, 141);
      list-style: none;
    }

    .genre-clear {
      padding: 14px 10px;
      transition: background-color 0.5s ease;
    }
    .genre-clear:hover {
      background-color: #363636;
    }