@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html {
  box-sizing: border-box;
  font-family: Roboto;

}

body {
  background-color: #121212;
  margin: 0;
  padding: 0;

}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  padding: 0;
}

.animate-bottom {
  

  animation-name: animatebottom;
  animation-duration: 2s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
