.description-container *{
    color: #FFFFFF;
}
.details-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}
.details-container h1 {
    margin: 15px 0;
}
.main-text {
    width: 100%;
    margin: 8px 0;
    font-size: 14px;
}

.image-container {
    display: flex;
    width: 1485px;
    height: 835px;
    background-color: rgb(35, 35, 35);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.description-container {
display: flex;
width: 100%;
flex-wrap: wrap;
}
.descriptions p{
margin: 15px 0;
line-height: 1.5;
}
button {
    padding: 15px 15px;
    background-color: rgb(35, 35, 35);
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 50px;
}