.form-container {
  display: flex;
justify-content: center;
align-items: center;
width: 100vw;
position: relative;
margin: 20px 0;
}
  
  
  .box{
    width: 400px;
    padding: 40px;
    background: #191919;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  .box input[type = "text"],.box input[type = "password"],.box input[type = "number"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  .box input[type = "text"]:focus,.box input[type = "password"]:focus,.box input[type = "number"]:focus{
    width: 280px;
    border-color: #2ecc71;
  }
  .box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    background: #2ecc71;
  }
  .box span, form input {
    color: white;
  }
  .card-list {
    display: flex;
   /*  flex-wrap: wrap; */
    margin: 15px 91px;
    justify-content: center;
    width: 100%;
  }
  .card {
    margin: 15px 15px;
    display: flex;
    flex-direction: column;
    width: 256px;
    height: 439px;
    flex-basis: 21%;
  }
  
  .card-image {
    width: 256px;
    height: 342px;
    /* background-color: rgb(83, 83, 83); */
    top: 5px;
    left: 0px;
  /*    overflow: hidden;  */
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .card-content {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    padding-top: 15px;
  }
  
  .card-title {
    width: 92%;
    color: rgb(245, 245, 245);
    font-family: Roboto;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  a {
    width: 100%;
    color: rgb(245, 245, 245);
    font-family: Roboto;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;
    text-decoration: none;
  }
  .card-description {
    padding: 2px 0;
    width: 100%;
    color: rgba(245, 245, 245, 0.6);
    font-family: Roboto;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .card-date {
    width: 100%;
    color: rgb(245, 245, 245);
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  
  .card-price {
    color: rgb(245, 245, 245);
    font-family: Roboto;
    font-weight: Regular;
  /*   font-size: 20px; */
    opacity: 1;
    text-align: right;
  }
  
  .card-discount {
   
    color: rgb(128, 128, 128);
    font-family: Roboto;
    font-weight: Regular;
    /* font-size: 20px; */
    opacity: 1;
    text-align: right;
    text-decoration: line-through;
    margin: 0 10px;
  }
  .discount-number {
    display: flex;
 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }
  
  .discount-percentage {
    background-color: rgb(0, 125, 252);
    padding: 0px 8px;
    border-radius: 7px;
  
  }
  .discount-prices {
    display: flex;
    flex-wrap: wrap;
  }
  .card-discount-container {
    display: flex;
    flex-direction: row;
  }